.lvling {
  padding-top: 200px;
}

.lvling__container {
  margin-bottom: 161px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.lvling__title {
  margin: 0;
  max-width: 473px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  color: #1B1B1B;
}

.lvling__subtitle {
  max-width: 660px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #1B1B1B;
  margin-top: 20px;
}

.lvling__subtitle:first-child {
  margin-top: 0;
}

@media screen and (max-width:1288px) {
  .lvling__title {
    font-size: 54px;
    width: 706px;
  }
}

@media screen and (max-width:946px) {
  .lvling__title {
    font-size: 44px;
    line-height: 50px;
    width: 548px;
  }
}

@media screen and (max-width:812px) {
  .lvling__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .lvling__title {
    margin-bottom: 40px;
  }
}

@media screen and (max-width:500px) {
  .lvling__title {
    width: 100%;
  }
}

@media screen and (max-width:412px) {
  .lvling__title {
    font-size: 34px;
    line-height: 40px;
  }
}